<h1>{{ node.description_text }}</h1>
<h2>Outgoing edges:</h2>
{% if node.node1.all %}
    <ul>
    {% for edge in node.node1.all %}
        <li><a href="{% url 'network:detail_edge' edge.id %}">{{ edge }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No outgoing edges</p>
{% endif %}
<h2>Incoming edges:</h2>
{% if node.node2.all %}
    <ul>
    {% for edge in node.node2.all %}
        <li><a href="{% url 'network:detail_edge' edge.id %}">{{ edge }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No incoming edges</p>
{% endif %}
