SECRET_KEY= #Add secret key manually!
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASS=password
DB_HOST=0.0.0.0
DB_PORT=9852

PHENOTYPE_PATH=/nfs/scratch/DyHealthNet/chris_summary_data/fully_simulated/phenotypes_filtered.csv
PHENOTYPE_META_PATH=/nfs/scratch/DyHealthNet/chris_summary_data/phenotypes/pheno_meta_filtered.tsv
PROTEIN_PATH=/nfs/scratch/DyHealthNet/chris_summary_data/fully_simulated/proteins.csv
METABOLITE_PATH=/nfs/scratch/DyHealthNet/chris_summary_data/fully_simulated/metabolites.csv
CALCULATED_EDGES_PATH=/nfs/scratch/DyHealthNet/scores.csv
