SECRET_KEY= #Add secret key!
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASS=password
DB_HOST=0.0.0.0
DB_PORT=9852

#Our own settings, to be removed at the end of the project!
#PHENOTYPE_PATH=/nfs/scratch/DyHealthNet/chris_summary_data/fully_simulated/phenotypes_filtered_index_renamed.csv
#PHENOTYPE_META_PATH=/nfs/scratch/DyHealthNet/chris_summary_data/phenotypes/pheno_meta_filtered.tsv
#PROTEIN_PATH=/nfs/scratch/DyHealthNet/chris_summary_data/fully_simulated/proteins.csv
#PROTEIN_META_PATH=/nfs/scratch/DyHealthNet/chris_summary_data/proteins/CHRIS_somalogic_descriptive_statistic.txt
#METABOLITE_PATH=/nfs/scratch/DyHealthNet/chris_summary_data/fully_simulated/metabolites.csv
#CALCULATED_EDGES_PATH=/nfs/scratch/DyHealthNet/scores.csv
#VAR_LABEL_MAPPING=/nfs/scratch/DyHealthNet/chris_baseline_codebook_public-ifb_20240809_category_coding.json

#Add paths to your data! Phenotypes and the corresponding meta data are required, proteins and metabolites are optional.
PHENOTYPE_PATH=/path/to/phenotypes.csv
PHENOTYPE_META_PATH=/path/to/pheno_meta.csv
PROTEIN_PATH=None
PROTEIN_META_PATH=None
METABOLITE_PATH=None

#Optional: Here you can add a JSON file that maps your categorical variables encoded by integers to the actual categories.
VAR_LABEL_MAPPING=None

#Adjust the path where to save the calculated association scores for your data!
CALCULATED_EDGES_PATH=./association_scores.csv

#Adjust according to your data tables!
PATIENT_ID_COLUMN=Patient ID

#Adjust according to your preferences!
NUMBER_OF_WORKERS=16
TEST_TYPE=parametric
